#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  background-color: #112d4e;
  padding: 10px 3px;
  margin: 0;
  color: #f9f7f7;
  height: 40px;
  width: 495px;
}

.container {
  left: 500px;
}

.row-bmi {
  width: 500px;
  background-color: #dbe2ef;
  margin: 0;
  padding: 10px 0;
}

.row-result {
  width: 500px;
  background-color: #3f72af;
  margin: 0;
  padding: 10px 0;
}

.outputText {
  color: #f9f7f7;
}

.output {
  position: relative;
  color: #f9f7f7;
  font-size: 20px;
  font-weight: 700;
  background-color: #112d4e;
  width: auto;
  padding: 20px 0;
  margin-bottom: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
